.main{
    background-color: white;
    margin: 30px;
}
body{
    background-color: #efefef;
}
.media-object{
    width: 38px;
    height: 38px;
}
.media-body{
    padding-top: 20px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
}

.question-related{
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0px;
}


.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}


.publish-tag-tab .label-info{
    margin-right: 10px;
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu{
    display: block;
    color: #999;
    font-size: 13px;
    font-family: Calibri;
}

.errorPage{
    margin: 50px;
}

.comment{
    margin : 10px 0px;
}

.comment-btn{
    float: right;
    margin-bottom : 11px;
}
.comment-sp{
    margin-top : 0px;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 6px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 8px;
    font-size: 16px;
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}



