<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Cheer</title>
    <!--    <script src="${ctx}/webjars/jquery/3.3.1-2/jquery.min.js"></script>-->

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.js" type="application/javascript"></script>

</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>发布</h2><hr>

                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="问题标题" required th:value="${title}">
                    </div>
                    <br>

                    <div class="form-group" id="question-editor">
                        <label for="title">问题补充 (必填，请参考右侧提示)：</label>
                        <textarea style="display: none;" th:text="${description}" name="description" id="description" class="form-control" cols="30" rows="20" required></textarea>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("question-editor", {
                                width  : "100%",
                                height : "700px",
                                path   : "/js/lib/",
                                delay : 0,
                                watch :false,
                                placeholder : "写点想说的把...",
                                imageUpload    : true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : "/file/upload"
                            });
                        });
                    </script>

                    <div class="form-group">
                        <label for="title">添加标签</label>
                        <input th:value="${tag}" type="text"
                               class="form-control" id="tag" name="tag" placeholder="添加标签，以(,)隔开"
                               onclick="showSelectTag()"
                               required>
                        <div>
<!--                            标签选择器-->
                        <div id="select-tag" class="publish-tag-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}" th:class="${selectCategoryStat.first ? 'active' : ''}">
                                    <a th:href="${'#'+selectCategory.getCategoryName()}" aria-controls="home" role="tab" data-toggle="tab"
                                       th:text="${selectCategory.getCategoryName()}">
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" th:id="${selectCategory.getCategoryName()}"
                                     th:each="selectCategory: ${tags}"
                                     th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">

                                    <span>
                                        <span class="label label-info" th:each="selectTag: ${selectCategory.getTags()}">
                                            <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                                  th:data-tag="${selectTag}" th:text="${' ' + selectTag}">java
                                            </span>
                                        </span>
                                    </span>

                                </div>
                            </div>

                        </div>


                        </div>
                    </div>
                    <br>
                    <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
                    <button type="submit" class="btn btn-success" style="float: right">发布</button>
                </form>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                1.问题标题： 不超过25个字即可，哈哈哈。<br>
                2.问题补充： 详细的补充您的问题内容，并确保问题描述的清晰直观，可提供一些资料<br>
                3.选择标签： 您可以选择一个或多个标签，以逗号隔开哦，不超过10个字<br>
                4.积分： 爱你，么么哒，奖励，不要忘了本站哦。<br>
            </div>
        </div>
    </div>
</body>
</html>